body {
    display: flex;
    justify-content: center;
    color: #000;
    background-color: #f9f9f9;
}

.centered-content {
    width: 600px;
    background-color: blue;
    color: white;
}

p{
    margin: 0;
}